<div class="container bg-light">
  <br>
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3 class="p-3 mb-2 text-white bg-dark">Reset Password</h3>

        <p>Please enter your email address to request a password reset.</p>

        <div class="form-group ">
          <input type="email" class="form-control col-10 col-lg-6" placeholder="Email Address" #passwordResetEmail required>
        </div>

        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Reset Password"
            (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>

      <div class="redirectToLogin">
        <span>Go back to ? <a class="redirect" routerLink="/sign-in">Log In</a></span>
      </div>

    </div>
  </div>
</div>
